div {
    h1 {
        font-family: 'Shrikhand', serif;
        color: rgb(117, 30, 30);
        letter-spacing: 2px;
        font-size: 50px;
    }

    #submit {
        font-family: 'Satisfy', sans-serif;
        font-size: 20px;
    }

    li {
        font-family: 'Satisfy', sans-serif;
        font-size: 30px;
        color: #992929;
    }
}




